openai
SQLAlchemy
pymysql
streamlit
duckduckgo-search
pypdf
langchain
langchain-community
langchain-hub
langchain_core
langchain_openai
langchain_text_splitters
faiss-cpu
sentence-transformers
fastembed