openai==1.39.0
SQLAlchemy==2.0.32
pymysql==1.1.1
streamlit==1.37.1
duckduckgo-search==6.2.6
pypdf==4.3.1
langchain==0.2.12
langchain-community==0.2.11
langchain-core==0.1.22
langchain-openai==0.1.20
faiss-cpu==1.7.4
sentence-transformers==2.3.1
fastembed==0.3.4
validators==0.22.0